.slope{
	position: absolute;
	left: 0px;
	top: 35px;
}

.scoreboard{
	position: absolute;
	left: 10px;
	top: 5px;
	width: 200px;
	text-align: left;
}

.lives{
	position: absolute;
	left: 235px;
	top: 5px;
	width: 100px;
}
