.slope {
    position: absolute;
    left: 0px;
    top: 35px;
}

.scoreboard {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    text-align: center;
}

.lives {
    position: absolute;
    left: 235px;
    top: 5px;
    width: 100px;
}

.blueButton .palm-button {
    -webkit-border-image: url(../images/button-blue.png) 0 16 0 16 stretch stretch;
    width: 140px;
    position: absolute;
}

.redButton .palm-button {
    -webkit-border-image: url(../images/button-red.png) 0 16 0 16 stretch stretch;
    width: 140px;
    float: right;
}

.startSkier {
    position: absolute;
    top: 60px;
    left: 150px;
}

.ski {
    position: absolute;
    top: 10px;
    left: 5px;
}

.pre {
    position: absolute;
    top: 10px;
    left: 180px;
}
