.slope{
	position: absolute;
	left: 0px;
	top: 35px;
}

.scoreboard{
	position: absolute;
	left: 0px;
	top: 5px;
	width: 100%;
	text-align: center;
}

.lives{
	position: absolute;
	left: 235px;
	top: 5px;
	width: 100px;
}
