<div id="main" style="background-color: white; height: 480px;">
    <div style="position: fixed; left: 50%; margin-left: -160px;">
        <img src="images/ski.png" class="ski" /><img src="images/for.png" class="the" /><img id="skier" src="images/sprites/r/riley_down.png" class="startSkier" /><img src="images/pre.png" class="pre" /><img src="images/pixi.png" class="pixi" />
    </div>
    <div style="position: fixed; left: 50%; margin-left: -160px; bottom: 0px; width: 315px;">
        <div id="gopro" class="palm-button affirmative" style="display: none;">
            Go Pro to Remove the Ads!
        </div>
        <div id="admob_id">
        </div>
        <div id="startGame" class="palm-button affirmative">
            Start New Game
        </div>
        <div x-mojo-element="Button" id="options" class="blueButton">
        </div>
        <div>
            <div id="highScores" class="palm-button affirmative" style="width: 150px; position: absolute;">
                High Scores
            </div>
            <div id="help" class="palm-button affirmative" style="width: 150px; float: right;">
                Help
            </div>
        </div>
    </div>
</div>
