<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  Congradulations!
	</div>
</div>
<table width=100%>
    <tr>
        <td>
            <div id="score">
            </div>
        </td>
    </tr>
    <tr>
        <td align=center colspan=2>
            <div class="palm-group">
                <div class="palm-list">
                    <div class="palm-row single">
                        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                            <div class="title">
                                <div id="textField" name="textField" x-mojo-element="TextField">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <div id="save" class="palm-button affirmative buttonfloat">
                Save
            </div>
        </td>
        <td width="50%">
            <div id="cancel" class="palm-button negative buttonfloat">
                Cancel
            </div>
        </td>
    </tr>
</table>
