<div class="palm-group">
    <div class="palm-group-title">
        Options
    </div>
    <div class="palm-list">
        <div class="palm-row-wrapper">
            <!-- <div x-mojo-element="Button" id="riley" class="blueButton">
            </div>
            <div x-mojo-element="Button" id="aiden" class="redButton">
            </div>-->
            <div id="avatar" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                Choose Your Player
            </div>
            <div style="clear: both;">
            </div>
            <div id="control" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                Control Scheme
            </div>
            <div style="clear: both;">
            </div>
            <div id="noFButton" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                On-Screen FASTER Button
            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
</div>
