<div class="palm-group">
    <div class="palm-group-title">
        Options
    </div>
    <div class="palm-list">
        <div class="palm-row-wrapper">
            <div id="avatar" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                Choose Your Player
            </div>
            <div style="clear: both;">
            </div>
            <div id="control" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                Control Scheme
            </div>
            <div style="clear: both; text-align: center; width: 300px; margin-bottom: 5px;">
                For Keyboard Controls:
                <div class="subtitle">
                    (hold then release to change)
                </div>
            </div>
            <div id="leftkey" x-mojo-element="TextField" style="float: right; margin-right: 20px; width: 20px;">
            </div>
            <div class="subtitle">
                Move Left
            </div>
            <div style="clear: both;">
            </div>
            <div id="rightkey" x-mojo-element="TextField" style="float: right; margin-right: 20px; width: 20px;">
            </div>
            <div class="subtitle">
                Move Right
            </div>
            <div style="clear: both;">
            </div>
            <div id="fastkey" x-mojo-element="TextField" style="float: right; margin-right: 20px; width: 20px;">
            </div>
            <div class="subtitle">
                Go Faster
            </div>
            <div style="clear: both;">
            </div>
            <div id="noFButton" x-mojo-element="ToggleButton" style="clear: both; margin-left: 15px;">
            </div>
            <div class="subtitle" style="padding-top: 15px;">
                On-Screen FASTER Button
            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div x-mojo-element="Button" id="default" class="redButton">
    </div>
