<div>
    <table class="palm-divider labeled">
        <tbody>
            <tr>
                <td class="left">
                </td>
                <td class="label">
                1.7.8
                </td>
                <td class="right">
                </td>
            </tr>
        </tbody>
    </table>
    <ul style="font-size: 16px; width: 280px;">
        <li>
            Added ability to change keyboard controls
        </li>
    </ul>
    <table class="palm-divider labeled">
        <tbody>
            <tr>
                <td class="left">
                </td>
                <td class="label">
                1.7.6
                </td>
                <td class="right">
                </td>
            </tr>
        </tbody>
    </table>
    <ul style="font-size: 16px; width: 280px;">
        <li>
            Lite version now supports keyboard controls and your scores will be added to the Global Highscores List.
        </li>
        <li>
            Ads added to the Lite version (upgrade to PRO to remove them)
        </li>
    </ul>
    <table class="palm-divider labeled">
        <tbody>
            <tr>
                <td class="left">
                </td>
                <td class="label">
                1.7.4
                </td>
                <td class="right">
                </td>
            </tr>
        </tbody>
    </table>
    <ul style="font-size: 16px; width: 280px;">
        <li>
            Game is now fullscreen.
        </li>
    </ul>
    <table class="palm-divider labeled">
        <tbody>
            <tr>
                <td class="left">
                </td>
                <td class="label">
                1.7.3
                </td>
                <td class="right">
                </td>
            </tr>
        </tbody>
    </table>
    <ul style="font-size: 16px; width: 280px;">
        <li>
            Added loading Graphic to the High Scores screen for the ranking subtitle.
        </li>
        <li>
            Updated Help for the keyboard controls.
        </li>
        <li>
            Added splash image for the loading card.
        </li>
    </ul>
    <table class="palm-divider labeled">
        <tbody>
            <tr>
                <td class="left">
                </td>
                <td class="label">
                1.7.0
                </td>
                <td class="right">
                </td>
            </tr>
        </tbody>
    </table>
    <ul style="font-size: 16px; width: 280px;">
        <li>
            Added Optional Keyboard Controls! You can now steer the skier with the A and D keys respectively...F still gives you a speed boost, and Tilting still controls your speed...and I gotta say, sorry I didn't implement this sooner, it's awesome!
        </li>
        <li>
            Moved the options to a separate screen. This cleans up the start screen a bit, and overall makes things a little prettier.
        </li>
        <li>
            Made some performance improvements when using Tilt controls. Please Note: When using Tilt controls on a non 1.4.1 version of WebOS, you may still experience some performance issues. This is a bug in the OS, and is fixed in version 1.4.1.
        </li>
    </ul>
</div>
