<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div id="loading" x-mojo-element="Spinner" style="display: none; float: right; margin-top: 10px; margin-right: 10px;">
		</div>
        <div class="title left" id="title">
        </div>
        <div class="subtitle" id="top">
        </div>
    </div>
</div>
<div>
    <div id="result">
    </div>
    <div id="results_list" name="list" x-mojo-element="List" style="display: none;">
    </div>
</div>
<img src="images/obstacles/abom_h.gif" style="position: fixed; top: 50%; left: 50%; margin-top: -23px; margin-left: -18px; display: none;" id="noScores" />
<div id="my-scrim">
    <div id="my-spinner" x-mojo-element="Spinner">
    </div>
</div>
